[submodule "java-edu"]
	path = java-edu
	url = https://github.com/pkch93/java-edu.git
[submodule "design-pattern"]
	path = design-pattern
	url = https://github.com/pkch93/design-pattern
[submodule "spring-batch-edu"]
	path = spring-batch-edu
	url = https://github.com/pkch93/spring-batch-edu.git
[submodule "jpa-edu"]
	path = jpa-edu
	url = https://github.com/pkch93/jpa-edu.git
[submodule "spring-edu"]
	path = spring-edu
	url = https://github.com/pkch93/spring-edu.git
[submodule "spring-boot-edu"]
	path = spring-boot-edu
	url = https://github.com/pkch93/spring-boot-edu.git
[submodule "kotlin-edu"]
	path = kotlin-edu
	url = https://github.com/pkch93/kotlin-edu.git
[submodule "reactive-edu"]
	path = reactive-edu
	url = https://github.com/pkch93/reactive-edu.git
